Homework 8: CSV Data Manipulation with Pandas Dataframe

Step 1: load the csv data

In [81]:
import pandas as pd
patient_df = pd.read_csv("outpatient_sample.csv")
patient_df.head()

,Patient_ID,Visit_ID,Primary_Physician,Operating_Physician,Other_Physician,ICD9_DGNS_CD_1,ICD9_DGNS_CD_2,ICD9_DGNS_CD_3,ICD9_DGNS_CD_4,ICD9_DGNS_CD_5,ICD9_DGNS_CD_6,ICD9_DGNS_CD_7,ICD9_DGNS_CD_8,ICD9_DGNS_CD_9,ICD9_DGNS_CD_10
0,00013D2EFD8E45D1,542192281063886,4.824842e+09,NaN,NaN,V5841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00016F745862898F,542272281166593,2.963420e+09,NaN,2.963420e+09,V5832,V5861,2724,3182,V5869,42731,NaN,NaN,NaN,NaN
2,00016F745862898F,542282281644416,5.737808e+09,NaN,5.737808e+09,9594,E9174,4019,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0001FDD721E223DC,542642281250669,1.233848e+09,NaN,NaN,78943,V5866,V1272,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00024B3D2352D2D0,542242281386963,9.688809e+09,NaN,NaN,6009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Step 2: New sub-dataframe with "Patient ID" and "Visit ID" information, get Total Visits.

In [82]:
# get both Patient_ID and Visit_ID columns
new_df = patient_df.loc[:, ["Patient_ID", "Visit_ID"]]
# group by patient id
visit_df = new_df.groupby(["Patient_ID"])
# for each patient id, count number of visits
totalvisit_df = visit_df.agg({'Visit_ID' : 'count'})
# rename to required column name
totalvisit_df.columns = ['Total_Visits']
totalvisit_df

                  Total_Visits
Patient_ID
00013D2EFD8E45D1             1
00016F745862898F             2
0001FDD721E223DC             1
00024B3D2352D2D0             4
0002F28CE057345B            19
000308435E3E5B76            12
000345A39D4157C9             2
000489E7EAAD463F             2
00048EF1F4791C68             4
0004F0ABD505251D            16
00052705243EA128            32
00070B63745BE497             4
0007F12A492FD25D            33
000B4662348C35B4            33
000C7486B11E7030             2
000DDD364C46E2C6             9
00108066CA1FACCE             8
0011714C14B52EEB             9
0011CB1FE23E91AF             2
0012AFEEC379A69D             1
00131C35661B2926             8
00139C345A104F72            25
0013E139F1F37264             6
0014FFD71C90B753             4
00151A878F9A2C0D             9
00157F1570C74E09             2

Step 3: New sub-dataframe with "Patient ID" and all physician related columns information, get Total Physicians.

In [83]:
# function to get more than one physician columns
def get_unique(group):
    # all three physician related columns
    physician_cols = [group['Primary_Physician'], 
                      group['Operating_Physician'], 
                      group['Other_Physician']]
    # return length of unique physicians
    return len(pd.concat(physician_cols).dropna(inplace=False).unique())

# group by patient id with help of get_unique
physician_gp = patient_df.groupby("Patient_ID").apply(get_unique)
# pandas series to dataframe
physician_gp = physician_gp.to_frame()
# rename to required column output name
physician_gp.columns = ['Total_Physicians']
physician_gp

                  Total_Physicians
Patient_ID
00013D2EFD8E45D1                 1
00016F745862898F                 2
0001FDD721E223DC                 1
00024B3D2352D2D0                 4
0002F28CE057345B                21
000308435E3E5B76                 6
000345A39D4157C9                 3
000489E7EAAD463F                 1
00048EF1F4791C68                 4
0004F0ABD505251D                18
00052705243EA128                16
00070B63745BE497                 4
0007F12A492FD25D                21
000B4662348C35B4                28
000C7486B11E7030                 4
000DDD364C46E2C6                 9
00108066CA1FACCE                 8
0011714C14B52EEB                 6
0011CB1FE23E91AF                 3
0012AFEEC379A69D                 1
00131C35661B2926                11
00139C345A104F72                24
0013E139F1F37264                 7
0014FFD71C90B753                 7
00151A878F9A2C0D                12
00157F1570C74E09                 2

Step 4: New sub-dataframe with "Patient ID" and all ICD9 Diagnosis related columns information, get Total Diagnosis.

In [84]:
# function to get more than one diagnosis columns
def get_diagnosis(group):
    diagnosis_cols = [group['ICD9_DGNS_CD_1'], 
                      group['ICD9_DGNS_CD_2'], 
                      group['ICD9_DGNS_CD_3'],
                      group['ICD9_DGNS_CD_4'],
                      group['ICD9_DGNS_CD_5'],
                      group['ICD9_DGNS_CD_6'],
                      group['ICD9_DGNS_CD_7'],
                      group['ICD9_DGNS_CD_8'],
                      group['ICD9_DGNS_CD_9'],
                      group['ICD9_DGNS_CD_10']]
    # return length of unique diagnosis
    return len(pd.concat(diagnosis_cols).dropna(inplace=False).unique())

# group by patient id with help of get_diagnosis
diagnosis_gp = patient_df.groupby("Patient_ID").apply(get_diagnosis)
# pandas series to dataframe
diagnosis_gp = diagnosis_gp.to_frame()
# rename to required column output name
diagnosis_gp.columns = ['Total_Diagnosis']
diagnosis_gp

                  Total_Diagnosis
Patient_ID
00013D2EFD8E45D1                1
00016F745862898F                9
0001FDD721E223DC                3
00024B3D2352D2D0                4
0002F28CE057345B               45
000308435E3E5B76               28
000345A39D4157C9                9
000489E7EAAD463F                8
00048EF1F4791C68                6
0004F0ABD505251D               44
00052705243EA128               65
00070B63745BE497                6
0007F12A492FD25D               80
000B4662348C35B4               63
000C7486B11E7030                4
000DDD364C46E2C6               41
00108066CA1FACCE               27
0011714C14B52EEB               15
0011CB1FE23E91AF                4
0012AFEEC379A69D                1
00131C35661B2926               25
00139C345A104F72               50
0013E139F1F37264               21
0014FFD71C90B753                8
00151A878F9A2C0D               23
00157F1570C74E09                5

In [85]:
# function to get more than one diagnosis columns
def get_most_freq(group):
    diagnosis_cols = [group['ICD9_DGNS_CD_1'], 
                      group['ICD9_DGNS_CD_2'], 
                      group['ICD9_DGNS_CD_3'],
                      group['ICD9_DGNS_CD_4'],
                      group['ICD9_DGNS_CD_5'],
                      group['ICD9_DGNS_CD_6'],
                      group['ICD9_DGNS_CD_7'],
                      group['ICD9_DGNS_CD_8'],
                      group['ICD9_DGNS_CD_9'],
                      group['ICD9_DGNS_CD_10']]
    # return value name of unique diagnosis
    return pd.concat(diagnosis_cols).dropna(inplace=False).value_counts().idxmax()

# group by patient id with help of get_most_freq
diagnosis_freq = patient_df.groupby("Patient_ID").apply(get_most_freq)
# pandas series to dataframe
diagnosis_freq = diagnosis_freq.to_frame()
# rename to required column output name
diagnosis_freq.columns = ['Most_Freq_Diganosis']
diagnosis_freq

                 Most_Freq_Diganosis
Patient_ID
00013D2EFD8E45D1               V5841
00016F745862898F               V5832
0001FDD721E223DC               78943
00024B3D2352D2D0                6009
0002F28CE057345B                4019
000308435E3E5B76                4019
000345A39D4157C9                3569
000489E7EAAD463F                4272
00048EF1F4791C68                1744
0004F0ABD505251D                4019
00052705243EA128               OTHER
00070B63745BE497                V285
0007F12A492FD25D                4019
000B4662348C35B4               28521
000C7486B11E7030                4160
000DDD364C46E2C6               25000
00108066CA1FACCE                4019
0011714C14B52EEB               V5869
0011CB1FE23E91AF               56203
0012AFEEC379A69D                V667
00131C35661B2926                7856
00139C345A104F72                4019
0013E139F1F37264                4019
0014FFD71C90B753               36650
00151A878F9A2C0D                2724
00157F1570C74E09                3005

In [86]:
# merge all together into a final master dataframe
merge_one = pd.merge(totalvisit_df, physician_gp, on="Patient_ID")
merge_two = pd.merge(merge_one, diagnosis_gp, on="Patient_ID")
final_merge = pd.merge(merge_two, diagnosis_freq, on="Patient_ID")

final_merge

,Total_Visits,Total_Physicians,Total_Diagnosis,Most_Freq_Diganosis
Patient_ID,,,,
00013D2EFD8E45D1,1,1,1,V5841
00016F745862898F,2,2,9,V5832
0001FDD721E223DC,1,1,3,78943
00024B3D2352D2D0,4,4,4,6009
0002F28CE057345B,19,21,45,4019
000308435E3E5B76,12,6,28,4019
000345A39D4157C9,2,3,9,3569
000489E7EAAD463F,2,1,8,4272
00048EF1F4791C68,4,4,6,1744
0004F0ABD505251D,16,18,44,4019
00052705243EA128,32,16,65,OTHER
00070B63745BE497,4,4,6,V285
0007F12A492FD25D,33,21,80,4019
000B4662348C35B4,33,28,63,28521
000C7486B11E7030,2,4,4,4160
000DDD364C46E2C6,9,9,41,25000
00108066CA1FACCE,8,8,27,4019
0011714C14B52EEB,9,6,15,V5869
0011CB1FE23E91AF,2,3,4,56203
0012AFEEC379A69D,1,1,1,V667
00131C35661B2926,8,11,25,7856
00139C345A104F72,25,24,50,4019
0013E139F1F37264,6,7,21,4019
0014FFD71C90B753,4,7,8,36650
00151A878F9A2C0D,9,12,23,2724
00157F1570C74E09,2,2,5,3005